* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    background-color: #f1f1f1;
}
.container {
    width: 75%;
    margin: auto;
}

/* ======================== Header ================== */
.head-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    padding: 5px 20px;
    text-decoration: none;
}

ul li {
    list-style: none;
}

.nav-right {
    display: flex;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    color: #888;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .head-nav {
        position: relative;
    }

    .nav-right {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: antiquewhite;
        padding: 10px 20px;
    }
    
    .nav-right.show {
        margin: 0;
        display: block;
    }
    .nav-right li {
        padding: 15px 0;
    }
    .menu-toggle {
        display: block;
    }
}

/* ======================== elements ======================== */

.btn-style-login {
    border: white 1px solid;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: transparent; 
    margin-right: 5px; 
    color:#FFAF00;
    text-decoration: none;
}

.btn-style-register {
    text-decoration: none;
    border: white 1px solid;
    background-color: #FFAF00;
    color:  #FFFFFF;
    padding: 10px 30px;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.dropbtn {
    cursor: pointer;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    background-color: white;
    border-radius: 10px;
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
    left: -100px;
}

.dropdown-content a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 12px 16px;
}

.dropdown-content a span {
    margin-left: 10px;
}

.show-dropdown {
    display: block;
}



/* ============================ Modal ============================== */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    border-radius: 10px;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.modal-content-trans {
    border-radius: 10px;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
}

@media screen and (max-width: 600px) {
    .modal-content {
        width: 80%;
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ============================ Jumbotron ========================== */

.bg-full-img {
    height: 100%;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-full-img .container {
    margin: auto;
    width: 75%;
    padding: 150px 0;
}

@media screen and (max-width: 575.98px) {
    .bg-full-img {
        height: auto;
    }
}

.text-title {
    font-size: 50px;
    margin: 0;
}

.search-group {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.input_search {
    min-height: 50px;
    width: 100%;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 2px solid #FFAF00;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
}

.button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: antiquewhite;
    color: black;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.button--submit:hover {
    background-color: #FFAF00;
}

.input_search:focus, .input_search:focus-visible {
    border-color: antiquewhite;
    outline: none;
}

.grid-content-st {
    position: relative;
    top: -100px;
}

@media screen and (max-width: 600px) {
    .grid-content-st {
        top: 0;
        margin-top: 25px;
    }
}

/* ==================== column =============== */

.column {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 992px) {
    .column {
        flex: 50%;
        border: black solid 1px;
        border-radius: 5px;
    }
}

@media screen and (max-width: 575.98px) {
    .row {
        flex-direction: column;
    }
}

.column .card-img {
    display: flex;
    justify-content: center;
}

.container-spot {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    place-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}


@media screen and (max-width: 768px) {
    .container-spot {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .card-product {
        padding: 30px;
    }
}

@media screen and (max-width: 576px) {
    .container-spot {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .card-product {
        padding: 20px;
    }
}
/* ==================== Product Detail ==================== */
.img-gallery-core {
    width: 100%; 
    height: 500px; 
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .img-gallery-core {
        height: auto;
    }
}
.img-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.img-gallery-col {
    border-radius: 5px;
    width: 32%;
}

.row-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.btn-group-qty {
    display: flex;
    align-items: center;
}

.btn-group-qty button {
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: 0 5px;
    background-color: #FFAF00;
}

.btn-group-qty input {
    width: 30px;
    padding: 5px;
    text-align: center;
    background-color: #f1f1f1;
    border: none;
    font-weight: bold;
}

/* =================== Payment Page =========================== */
.card-payment-view {
    margin: 50px auto;
    width: 75%;
    border: 1px rgb(116, 114, 114) solid;
    border-radius: 5px;
    padding: 15px 20px;
    background-color: white;
}

.card-payment-view .card-pay-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.part-data-booking {
    margin: 0 10px;
}
@media screen and (max-width: 600px) {
    .card-payment-view {
        width: 1000px;
    }
    .card-pay-navbar div {
        font-size: x-small;
    }
    .part-data-booking {
        font-size: smaller;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .card-payment-view {
        width: 100%;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

.btn {
    margin: auto;
    width: 25%;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: #FFAF00;
    color: #ffffff;
    border: none;
}

/* =========================== Admin Page View ====================== */

.btn-primary {
    padding: 0 25px;
    background-color: #FFAF00;
    border: none;
    border-radius: 3px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 16px;
    max-width: 1200px;
}

.card {
    border-radius: 5px;
    background-color: #fff;
    padding: 5px;
}

.crd-size {
    width: 350px;
}

.card-btm {
    display: flex; 
    justify-content: space-between; 
    align-items: end;
}

.input-style {
    padding: 10px;
    margin: 5px 0;
}

.label_view {
    background-color: antiquewhite;
}

.input-view {
    padding: 3px 6px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 100%;
    background-color: #fff;
}

.input-view-flex {
    border: none;
    background-color: #fff;
    height: 35px;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
    .input-view-flex {
        margin: 5px 0;
    }
}

.textarea-view {
    resize: none;
    padding: 6px;
    width: 100%;
    height: 75px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
}

.card-portal-view {
    border-radius: 7px;
    background-color: #FFFFFF;
    width: 50%;
    margin: 20px auto; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 5px 10px;
}

@media screen and (max-width: 600px) {
    .card-portal-view {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .card-portal-view {
        width: 100%;
    }
}

.img-portal {
    width: 25px;
    height: 25px;
}

.btn-portal {
    margin-top: 7px;
    border: none;
    width: 100%;
    background-color: #FFAF00;
    color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 5px;
}

.history-trip-view {
    width: 100%;
    margin: 10px auto;
    padding: 15px 20px;
    background-color: #fff;
    border: grey 1px solid;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .history-trip-view {
        width: 1000px;
    }
}

.btn-status {
    background-color: pink; 
    color:palevioletred; 
    padding: 5px 20px; 
    border-radius: 3px;
    border: none;
    text-align:center;
}

.btn-status p {
    margin: 0;
}